.container {
  margin-top: 16px;
  width: 100%;
  display: flex;
  justify-content: center;
}

.app {
  max-width: 900px;
  padding: 8px;
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 1px solid gray;
}

.inputs {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.input {
  margin: 0 8px;
}