.container {
    margin-top: 16px;
    width: 100%;
    display: flex;
    justify-content: center;
}

.app {
    max-width: 900px;
}

.panel {
    margin-top: 32px;
    padding: 8px;
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 1px solid gray;
}

.inputs {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.input {
    margin: 0 8px;
}

.validation-error {
    margin-top: 16px;
}

table {
    margin-top: 8px;
    margin-right: 8px;
    margin-left: 8px;
    width: 100%;
}

table, th, td {
    border: 1px solid gray;
    border-collapse: collapse;
}

td {
    padding: 4px;
}

.enhanced {
    color: blue;
}